* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.w20 { width: 20%; }
.w25 { width: 25%; }
.w30 { width: 30%; }
.w40 { width: 40%; }
.w50 { width: 50%; }
.w60 { width: 60%; }
.w70 { width: 70%; }
.w100 { width: 100%; }

.spazio {
    padding: 10px;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.h100 {
    height: 100%;
}

.flex {
    display: flex;
}

.boxed {
    max-width: 1200px;
    margin: 0 auto;
}
.bianco{background-color: white;}
.AzzurroTestata{background-color: #3161e0;}
.grigio { background-color: lightgray; }
.azzurro { background-color: dodgerblue; }
.rosa { background-color: pink; }
/*.viola { background-color: violet; }*/
.verde { background-color: green; }
.nero { background-color: black; }
.acqua { background-color: aquamarine; }

.nav {
    height: 80px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.hero {
    height: 500px;
    padding: 50px;
    justify-content: center;
}

.row > div.boxed {
    height: 500px;
    padding: 50px 0 50px 0;
}

#Grande { 
    height: 1000px;
}

.footerTop {
    height: 500px;
    padding-bottom: 50px;
    padding-top: 10px;
}
.footerBottom {
    height: 100px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}
.footerLeft {
    background-color: lightcoral;
}
.footerRight {
    background-color: lightseagreen;
}

.spaziofooter {
    padding: 0.5em;
}
.size{
    font-size: 15px;
    font-weight:bold;
}
.whiteFont{
    color: white;
}
.spazioSpan{
    padding: 20px;
}
.BlackFont{
    color: black;
}
button{
    border-radius: 20px;
    border: none;
}
h1{
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.BottomP{
    margin-bottom: 40px;
}
/*.jumbo{
    background-image: url(/img/jumbo.png);
}*/
.SectionButton{
    margin-left: 150px;
}
.Mleft{
    margin-left: 30px;
}