* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.w10 { width: 10%; }
.w20 { width: 20%; }
.w25 { width: 25%; }
.w30 { width: 30%; }
.w40 { width: 40%; }
.w50 { width: 50%; }
.w60 { width: 60%; }
.w70 { width: 70%; }
.w90 { width: 90%; }
.w100 { width: 100%; }
body {font-family: Arial, Helvetica, sans-serif;}
.spazio { padding: 10px;}
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.h100 {
    height: 100%;
}

.flex {
    display: flex;
}
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.boxed {
    max-width: 1200px;
    margin: 0 auto;
}
.bianco{background-color: white;}

.grigio { background-color: lightgray; }

.nero { background-color: black; }

.AzzurroBottone{ background-color: #8ea1e1;}

.nav {
    height: 80px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
span.Hover:hover{
    text-decoration: underline;
    color: white;
}

.hero {
    height: 500px;
    padding: 50px;
    justify-content: center;
}

.row > div.boxed {
    height: 500px;
    padding: 50px 0 50px 0;
}

#Grande { 
    height: 1000px;
}

.footerTop {
    height: 500px;
    padding-bottom: 50px;
    padding-top: 10px;
}
.footerBottom {
    height: 100px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}


.size{
    font-size: 15px;
    font-weight:bold;
}
.whiteFont{
    color: white;
}
.spazioSpan{
    padding: 20px;
}
.BlackFont{
    color: black;
}
button{
    border-radius: 20px;
    border: none;
}
button:hover{
    box-shadow: 0 0 4px 4px black;
}
h1{
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.BottomP{
    margin-bottom: 40px;
}

.SectionButton{
    margin-left: 150px;
}
.Mleft{
    margin-left: 30px;
}
.item1{
    width: 70%;
    margin-left: 200px;
}
h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.marginSezione1{
    margin-left: 15px;
    margin-top: 15px;
}
.item2{
    width: 70%;
    margin-top: 20px;
}
.Sezione2{
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
}
.item3{
    width: 70%;
    margin-left: 100px;
    margin-top: 20px;
}
.Sezione3{
    width: 40%;
    margin-left: 30px;
    margin-top: 40px;
}
.Sezione4{
    width: 30%;
    margin: 0 auto;
}
.ButtonSezione4{
    margin-top: 20px;
    margin-left: 80px;
}
.SezioneBandiera{
    padding-bottom: 25px;
    color: white;
}
.bandiera{
    width: 20px;
    margin-right: 5px;
}
h3{
    margin-top: 50px;
    padding-bottom: 25px;
    color: black;
    font-size: 25px;
}
h4{
    margin-top: 50px;
    padding-bottom: 20px;
    color: #7188d9;
}
div.paragrafi>p{
    margin-bottom: 20px;
    color: white;
}
.spaziofooter{
    margin-bottom: 30px;
}
.ondine{
    background-image: url(../img/wave.svg);
    height: 100px;
    opacity: 0.18;
}
.fotoOndine1{
    color: lightgray;
    background-color: white;
    transform: rotate(180deg);
}
.stelline{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    height: 80px;
    margin-bottom: 50px;
}